* {
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

.white_wall{
    display: flex;
    justify-content:center ;
    background-color: #f6f6f6;
    width: 100%;
    height: 13rem;
    
}

.white_wall img {
    height: auto;
    width: auto;
    margin: 0.5rem;
}

.banner_background{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #052962;   
    width: 100%;
    height: 14rem;
}
.banner_left{
    padding: 0 5% ;
}
.banner_support{
    color: #FFE500;
    font-weight: bold;
    font-size: 35px;
    font-family: "GH Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
    margin: 1rem 1rem;
}

.banner_avilable{
    font-family:  GuardianTextSans, "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    font-size: 1.0625rem;
    margin-left: 20px;
}

.banner_a {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    
}

.first_a {
    background-color: #FFE500;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    margin-right: 10px;
}

.first_a > a {
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
}

.sec_a {
    background-color: #FFE500;
    border-radius: 50px;
    height: 30px;
    width: 120px;
}

.sec_a > a {
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
}

.banner_right{
    margin-right:6%;
    padding: 0 12%;
    position: relative;
}

.banner_right_a {
    padding: 10px;
    position: absolute;
    left: -1rem;
}

.banner_right_a a {
    margin-left: 5px; 
}

.banner_right_a i {
    color: white;
}

.banner_right_a :first-child{
    border-left: 0.5px solid white;
}

svg {
    height: 12rem;
    width: 18rem;
}

button {
    position: absolute;
    right: 3rem;
    border: none;
    background-color: #052962;
    font-size: 16px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 5%; 
    border: 1px solid white;
}
.menu li {
    border: 0.5px solid white;

}

.menu :last-child {
    border: none;
}
.menu li a{
    padding-right: 7rem;
    color: white;
    font-size: 22px;
}


